{% extends "emails/base.html" %}

{% block header_title %}
Leave Request Not Approved
{% endblock %}

{% block content %}



<p> Unfortunately, your <strong>{{ leave_type }}</strong> leave request was <strong>not approved</strong>.
 </p>


<table class="details-table" cellpadding="0" cellspacing="0">
    <tr>
        <td>Leave Type</td>
        <td>{{ leave_type }}</td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td>{{ start_date }}</td>
    </tr>
    <tr>
        <td>End Date</td>
        <td>{{ end_date }}</td>
    </tr>
    <tr>
        <td>Number of Days</td>
        <td>{{ days }}</td>
    </tr>
</table>

<div class="info-box">
    <strong>Reason for rejection:</strong><br>
    {{ rejection_reason }}
</div>


{% endblock %}
