{% extends "emails/base.html" %}

{% block header_title %}
Leave Request Awaiting Your Approval
{% endblock %}

{% block content %}

<p>
    A new leave request has been submitted and requires your review.
    Please find the details below:
</p>

<table class="details-table" cellpadding="0" cellspacing="0">
    <tr>
        <td>Employee</td>
        <td>{{ employee_name }}</td>
    </tr>
    <tr>
        <td>Leave Type</td>
        <td>{{ leave_type }}</td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td>{{ start_date }}</td>
    </tr>
    <tr>
        <td>End Date</td>
        <td>{{ end_date }}</td>
    </tr>
    <tr>
        <td>Number of Days</td>
        <td>{{ days }}</td>
    </tr>
</table>

<div class="info-box">
    Kindly review this request.
</div>
{% endblock %}

{% block action_button %}
<div class="button-container">
    <a href="https://raci.cema.africa/a/u/dash/my-team/approvals" class="button">
        Review & Approve Leave
    </a>
</div>
{% endblock %}
