<h3>Hello {{ supervisor_name }},</h3>

<p>
A new leave request has been submitted for your review.
</p>

<ul>
    <li><strong>Employee:</strong> {{ employee_name }}</li>
    <li><strong>Leave Type:</strong> {{ leave_type }}</li>
    <li><strong>From date:</strong> {{ start_date }}</li>
    <li><strong>To date:</strong> {{ end_date }}</li>
    <li><strong>No of Days:</strong> {{ days }}</li>
</ul>

<div style="margin: 30px 0; text-align: center;">
    <a
        href="https://raci.cema.africa/a/u/dash/my-team/approvals"
        style="
            display: inline-block;
            padding: 14px 32px;
            background-color: #fe7105;
            color: #ffffff;
            text-decoration: none;
            border-radius: 6px;
            font-weight: 600;
            font-size: 15px;
        "
    >
        Review & Approve Leave
    </a>
</div>


<p style="color:#888; margin-top: 25px;">
    © {{ current_year }} CEMA
</p>
