{% extends "notifications/emails/base.html" %}

{% block header_title %}New Activity Assigned{% endblock %}

{% block content %}
<p>You have been assigned to a new activity in the <strong>{{ project_name }}</strong> project.</p>

<div class="info-box">
    <table class="details-table">
        <tr>
            <td>Activity</td>
            <td><strong>{{ activity_name }}</strong></td>
        </tr>
        <tr>
            <td>Project</td>
            <td>{{ project_name }}</td>
        </tr>
        {% if deadline %}
        <tr>
            <td>Deadline</td>
            <td><strong>{{ deadline|date:"F j, Y, g:i A" }}</strong></td>
        </tr>
        {% endif %}
    </table>
</div>


{% endblock %}

{% block action_button %}
<div class="button-container">
    <a href="{{ action_url }}" class="button">View Activity</a>
</div>
{% endblock %}